@define-mixin clearfix {
	&:after {
		clear: both;
		content: "";
		display: table;
		float: none;
	}
}

@define-mixin list-bare {
	list-style: none;
	margin: 0;
	padding: 0;
}

@define-mixin list-horizontal {
	@mixin clearfix;
	> * {
		float: left;
		line-height: 1;
	}
}

@define-mixin list-inline {
	@mixin clearfix;
	> * {
		display: inline;
		line-height: 1;
	}
}

@define-mixin align-left {
	text-align: left;
}

@define-mixin align-center {
	text-align: center;
}

@define-mixin align-right {
	text-align: right;
}