<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script>
			document.createElement('picture');
		</script>
		<script src="../../js/picturefill.js" async></script>

		<link rel="stylesheet" href="../../css/global.css?{{ cacheBuster }}">

		<!-- Begin Pattern Lab -->
		{% pattern-lab-head %}
		<!-- End Pattern Lab -->
	
	</head>
	<body>	
		