{{# label }}
	<label 
		for="{{id}}" 
		class="label {{#isInline}}label--inline{{/isInline}} {{styleModifier}} {{# isHidden }}is-vishidden{{/ isHidden }} {{#isInvalid}}label--invalid{{/ isInvalid }}">
		{{content}}
	</label>
{{/ label }}