{{#input}}
	<input 
		class="input input--checkbox {{#isInvalid}}input--invalid{{/isInvalid}} {{class}} {{styleModifier}}" 
		id="{{id}}" 
		name="{{name}}" 
		type="checkbox" 
		{{#isChecked}}checked{{/isChecked}} 
		{{#isRequired}}required{{/isRequired}}
		{{#isDisabled}}disabled{{/isDisabled}} />
{{/input}}