<nav id="nav" class="nav primary-nav">

	<ul class="primary-nav__list">

		{{# primaryNav }}
		<li class="primary-nav__item">
			<a href="{{ url }}" class="primary-nav__link">{{ label }}</a>
		</li>
		{{/ primaryNav }}

	</ul>

</nav>
