.slipnslide {
	position: relative;
	.slipnslide__viewport {
		overflow: hidden;
		margin: 0;
	}
	.slipnslide__slides {
		margin: 0;
		overflow: hidden;
		padding: 0;
		transition: transform 1s;
	}
	.slipnslide__slide {
		display: block;
		float: left;
		width: 100vw;
	}
}

.js .slipnslide .slipnslide__slide {
	display: block;
}

@media only screen and (min-width: 48em) {
	.js .slipnslide .slipnslide__slide {
		display: flex;
	}
}