<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #000;"></span>
		<span class="sg-label">#000 (--color-black)</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #fff;"></span>
		<span class="sg-label">#fff (--color-white)</span>
	</li>
</ul>