<div>Primary font: Arial, 'Helvetica Neue', Helvetica, sans-serif;</div>
<div><em>Primary font italic: Arial, 'Helvetica Neue', Helvetica, sans-serif;</em></div>
<div><strong>Primary font bold: Arial, 'Helvetica Neue', Helvetica, sans-serif;</strong></div>