{{# field }}
<fieldset class="field">
	<legend class="field__label">{{ label }}</legend>
	<ul class="input-list">
	{{# options}}
		<li class="input-list__item">
			<input id="{{id}}_{{value}}" name="{{id}}" type="radio" class="field__input" value="{{value}}" {{# isRequired }}required{{/ isRequired }}> 
        	<label for="{{id}}_{{value}}">{{label}}</label>
		</li>
	{{/ options }}
	</ul>	
	{{# hasError }}
		<div class="field__error-message">{{errorMessage}}</div>
	{{/ hasError }}
</fieldset>
{{/ field }}
