<div class="carousel-container">
	<ul class="carousel-list js-carousel-list">
		<li class="carousel-list-item">
			{{> components-frame-1 }}
		</li>
		<li class="carousel-list-item">
			{{> components-frame-1 }}
		</li>
		<li class="carousel-list-item">
			{{> components-frame-1 }}
		</li>
		<li class="carousel-list-item">
			{{> components-frame-1 }}
		</li>
		<li class="carousel-list-item">
			{{> components-frame-1 }}
		</li>
		<li class="carousel-list-item">
			{{> components-frame-1 }}
		</li>
		<li class="carousel-list-item">
			{{> components-frame-1 }}
		</li>
		<li class="carousel-list-item">
			{{> components-frame-1 }}
		</li>
		<li class="carousel-list-item">
			{{> components-frame-1 }}
		</li>
		<li class="carousel-list-item">
			{{> components-frame-1 }}
		</li>
	</ul>
</div>