{{# field }}
	<div class="field field--inline {{styleModifier}}">
		{{> basics-checkbox }}
		{{> basics-inline-label }}
		{{# isInvalid }}
			{{> components-field-error-messages}}
		{{/ isInvalid }}
	</div>
{{/ field }}
