{{# fieldGroup }}
	<fieldset class="field-group {{styleModifier}}">
		{{> basics-field-group-label }}
		<ul class="field-list">
		{{# items}}
			<li class="field field-list__item">
				{{#field}}
					{{> basics-input }}					
					{{> basics-label }}
				{{/field}}
			</li>
		{{/ items }}
		</ul>	
		{{# isInvalid }}
			{{> components-field-error-messages }}
		{{/ isInvalid }}
	</fieldset>
{{/ fieldGroup }}
