{{# field }}
<div class="field">
	<label for="{{ id }}" class="field__label {{# hasError }}field__label--error{{/ hasError }}">{{ label }}</label>
	<textarea id="{{ id }}" name="{{ id }}" placeholder="{{ placeholder }}" class="field__input {{# hasError }}field__input--error{{/ hasError }}" {{# isRequired }}required{{/ isRequired}}>{{ value }}</textarea>
	{{# hasError }}
		<div class="field__error-message">{{errorMessage}}</div>
	{{/ hasError }}
</div>
{{/ field }}
