<div class="hero-wrapper">
	<div class="hero-actor-container">
		<img src="http://placehold.it/300x700" alt="actor" class="hero-actor" />
	</div>
	<div class="hero-text">
		<h1>hero Text</h1>
	</div>
	<div class="hero-textpoints-container">
		<div class="hero-textpoint hero-textpoint-1">
			Textpoint 1
		</div>
		<div class="hero-textpoint hero-textpoint-1">
			Textpoint 2
		</div>
		<div class="hero-textpoint hero-textpoint-1">
			Textpoint 3
		</div>
	</div>
</div>