.align-left, .align-right, .align-center {
	margin: 0 auto 1.5em auto;
}

@media only screen and (min-width: 40em)  {
	.align-left {
		float: left;
		margin: 0 1.5em 1.5em 0;
	}

	.align-right {
		float: right;
		margin: 0 0 1.5em 1.5em;
	}
}
