<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<script src="../../js/polyfills/picturefill.js" async></script>

		<link rel="stylesheet" href="../../css/global.css?{{ cacheBuster }}">

		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    	{{{ patternLabHead }}}
   	 	<!-- End Pattern Lab -->
	
	</head>
	<body>	
		