	<script src="../../js/jspm_packages/system.js"></script>
	<script src="../../js/config.js"></script>
	<script>
		System.import('main');
	</script>
	
	<!-- Begin Pattern Lab JS -->
	{{{ patternLabFoot }}}
	<!-- End Pattern Lab JS -->
	
	</body>
</html>